<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <!-- display authors -->
    <div class="all-author-card-container">
      <% authors.forEach(author => { %>
      <div class="all-author-card">
        <div class="all-author-image-container">
          <img
            class="all-author-image"
            src="<%=author.image%>"
            alt="image of <%=author.name%>"
            srcset=""
          />
        </div>
        <h2>author name: <%= author.author %></h2>
        <h3>Date Registered: <%= author.dateRegistered%></h3>
        <h3 class="all-author-details">Author Age:<%=author.age%></h3>
        <p class="all-author-address author-details"><%=author.address%></p>
      </div>
      <% }) %>
    </div>

    <!-- footer -->
    <%- include("./partials/footer.ejs") %>
    <!-- end of footer -->
  </body>
</html>
